body {
  background-color: #937DC2;
  

}

img {
  height: 200px;
}

h1 {
  color: #FFA1CF;
}

h3 {
  color: #FFA1CF;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 8px;
  width: 5%;
 
}